.disciplines {
  padding: 0 16px;
}

.disciplines__accordion {
  max-width: 592px;
  margin-left: auto;
  margin-right: auto;
}

.disciplines__heading {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .disciplines {
    padding-bottom: 80px;
  }
}