.site-list {
  list-style: none;
  margin: 0;
}

.site-list__link {
  transition: color 0.3s ease;
}

.site-list__link:hover {
  color: $basic-blue;
  text-decoration: none;
}

@media (max-width: $mobile-width-only) {
  .site-list {
    max-width: 95%;
    list-style: none;
    padding: 18px;
    margin: 0;
  }

  .site-list__item {
    margin-bottom: 8px;
  }

  .site-list__link {
    display: block;
    padding: 4px 0;
    text-decoration: none;
    color: #222222;
    border-bottom: 1px solid $basic-blue;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .site-list__item:not(:last-child) {
    margin-right: 8px;
  }

  .site-list__link {
    font-size: 14px;
    color: #222222;
    text-decoration: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item:not(:last-child) {
    margin-right: 16px;
  }

  .site-list__link {
    font-size: 16px;
    line-height: 24px;
  }
}
