.social {
  @include list-unstyled();
  display: flex;
  justify-content: center;
}

.social__link {
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .social {
    justify-content: start;
  }
}
