html {
  box-sizing: border-box;
  min-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}
