// Colors
$content: #222222;
$content-light: #6a6a6a;
$basic-blue: #3951e7;
$violet: #832ab9;
$accent-blue: #232473;
$basic-red: #f21f5b;
$accent-red: #d20c44;
$content-white: #f7f9fe;

// Viewports

$tablet-width: 967px;
$desktop-width: 1280px;
$mobile-width-only: 967px;


// рамка аккардиона
// #eaeffc
// цвет текста кнопки №